<!DOCTYPE html>
<html lang="en">
{% block head%}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tonardo-博客</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/toastr.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/mdeditor/css/editormd.css" />

    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>-->
    <script src="static/js/moment.js"></script>
    <!--<script src="static/js/markdown.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js" charset="utf-8"> </script>-->
    <!--<script>-->
        <!--window.setTimeout(function(){-->
        <!--$('[data-dismiss="alert"]').alert('close');-->
    <!--},2000);-->
    <!--</script>-->


</head>
{% end %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Tonardo-博客</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/write">写文章</a>
      </li>
        {% if current_user %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ current_user.gravatar(size=18) }}">{{ current_user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/change-password">修改密码</a>
          <a class="dropdown-item" href="/reset-password">重置密码</a>
          <a class="dropdown-item" href="/user?username={{ current_user.username }}">个人资料</a>
          <a class="dropdown-item" href="/logout">退出</a>
        </div>
      </li>
        {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="/login">登录</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/register">注册</a>
          </li>
        {% end %}
      </ul>
  </div>
</nav>
    {% block page_content %}
    {% end %}

    <!-- Bootstrap core JavaScript -->


</body>
</html>