{% extends "base.html" %}

{% block page_content %}
<script>
    function confirm(postid){
        var obj=document.getElementById('confirm');
        obj.setAttribute('onclick',"window.location.href='/delete/" + postid + "'");
}
</script>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">提示信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>确认要删除文章？删除不可撤回，请慎重考虑！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" id="confirm" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>
    <div style="width: 100%;height: 100%">
        <div class="col-md-12">
          <h1 class="my-4">
            {% if current_user.username %}
            <small>欢迎回来，{{ current_user.username }}</small>
            {% else %}
            <small>你好，陌生人</small>
            {% end %}
          </h1>
        <header>
            <p><span class="badge badge-primary">最新动态</span></p>
        </header>
        </div>
        <div class="col-md-12">
            <ul class="posts">
                {% for post in posts %}
                <li class="post">
                <div class="post-thumbnail">
                    <a href="/user?username={{ post.author.username }}"><img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}"></a>
                </div>
                <div class="post-content">
                <div class="post-date">
                    <script>
                        moment.locale('zh-cn');
                        document.write(moment(moment.utc("{{ post.timestamp }}").toDate()).fromNow())
                    </script>
                </div>
                <div class="post-author">
                    {{ post.author.username }}
                </div>
                <div class="post-body">
                    <big>{% raw post.title %}</big>
                </div>
                <div class="post-body">
                    <small>{% raw post.abstract %}</small>
                </div>
                <div class="post-footer">
                    {% if current_user.email == "1073838586@qq.com" %}
                    <a href="#" onclick="confirm('{{ post.id }}')" data-toggle="modal" data-target="#exampleModal"><span class="badge badge-pill badge-warning" >删除文章</span></a>
                    <a href="/edit/{{ post.id }}"><span class="badge badge-pill badge-danger">编辑文章</span></a>
                    {% elif post.author.username == current_user.username %}
                    <a href="/edit/{{ post.id }}"><span class="badge badge-pill badge-danger">编辑文章</span></a>
                    {% end %}
                    <a href="/post/{{ post.id }}"><span class="badge badge-pill badge-info">查看详情</span></a>
                </div>
                </div>
                </li>
                {% end %}
            </ul>
        </br>
              <ul class="pagination justify-content-end">
                  {% if current_page == 1 %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Previous</a>
                </li>
                  {% else %}
                <li class="page-item">
                  <a class="page-link" href="/?page={{ current_page-1 }}">Previous</a>
                </li>
                  {% end %}






          {% if total_page_count <= 10 %}
                  {% for p in range(1, total_page_count+2) %}
                      {% if p == current_page %}
                          <li class="page-item active"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                      {% else %}
                          <li class="page-item"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                      {% end %}
                  {% end %}
          {% else %}
                  {% if current_page > 10 %}
                      {% if current_page > total_page_count-8 %}
                          <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
                          <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
                          <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                          {% for p in range(current_page-2, current_page+4) %}
                              {% if p == current_page %}
                                  <li class="page-item active"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                              {% else %}
                                  <li class="page-item"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                              {% end %}
                          {% end %}
                      {% else %}
                          <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
                          <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
                          <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                          {% for p in range(current_page-2, current_page+4) %}
                              {% if p == current_page %}
                                  <li class="page-item active"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                              {% else %}
                                  <li class="page-item"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                              {% end %}
                          {% end %}
                          <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                          <li class="page-item"><a class="page-link" href="/?page={{ total_page_count }}">{{ total_page_count }}</a></li>
                          <li class="page-item"><a class="page-link" href="/?page={{ total_page_count+1 }}">{{ total_page_count+1 }}</a></li>
                      {% end %}
                  {% else %}
                      {% for p in range(1, 11) %}
                          {% if p == current_page %}
                              <li class="page-item active"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                          {% else %}
                              <li class="page-item"><a class="page-link" href="/?page={{ p }}">{{ p }}</a></li>
                          {% end %}
                      {% end %}
                      <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                  {% end %}
          {% end %}



                  {% if current_page == total_page_count+1 %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
                </li>
                  {% else %}
                <li class="page-item">
                  <a class="page-link" href="/?page={{ current_page+1 }}">Next</a>
                </li>
                  {% end %}
              </ul>
        </div>
    </div>
{% end %}
<!--{% autoescape None %}-->