{% extends "base.html"%}

{% block page_content%}
<div class="col-md-3" id="login_form" style="float:none; margin:0 auto; margin-top:5%">
      <form action="/login" method="post" class="form-signin" role="form">
        <h3 class="form-signin-heading">用户登录</h3>
          </br>
        <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
      </br>
        <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
          </br>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住登录状态
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </br>
    <p>新朋友？<a href="/register">点击此处注册</a></p>
</div>
{% end %}